<div class="home">

  <div>
  	<p><img alt="pic" style="width:180px;float:right;margin-left:20px;margin-right:20px;" src="/assets/img/me.png">I am a fourth year Ph.D student in Computer Science at Stanford University, co-advised by Professor <a href="http://www.bailis.org/">Peter Bailis</a> and <a href="http://csl.stanford.edu/~pal/">Philip Levis.</a>
  I am affiliated with the <a href="http://dawn.cs.stanford.edu/"> Stanford DAWN</a> project. I am broadly interested in efficient and effective data analytics for large-scale, machine generated data. My recent projects include automatic smoothing parameter selection for time series visualization and earthquake detection through efficient time series similarity search.  </p>
 <p>I graduated from Caltech in 2015 with a B.S. in Computer Science. Before that, I attended Nanjing Foreign Language School in Nanjing, China.</p>
</div>
</div>