<footer class="site-footer">

  <div class="wrapper">

    <!--<h2 class="footer-heading small-site-title">Contact</h2>-->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list footer-content">
          <li><span class="icon icon--office">{% include icon-office.svg %}</span> 433 Gates Hall, Stanford, CA 94305</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list footer-content">
          <li> <span class="icon icon--email">{% include icon-email.svg %}</span>krong at stanford dot edu</li>
        </ul>
      </div>

      <div class="footer-col footer-col-3 footer-content">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

</footer>
